<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiongxin.app.springsecuritydemo.mapper.UserMapper">
    <cache
            eviction="LRU"
            flushInterval="60000"
            size="1024"
            readOnly="true"/>

    <resultMap id="roleMap" type="com.xiongxin.app.springsecuritydemo.model.Role">
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="name" property="name" jdbcType="VARCHAR" />
    </resultMap>
    <insert id="save">
        insert user  (username, password) values (#{username}, #{password})
    </insert>

    <select id="selectOneById" resultType="com.xiongxin.app.springsecuritydemo.model.User">
        select * from user where id = #{id}
    </select>


    <select id="selectOneByUsername" resultType="com.xiongxin.app.springsecuritydemo.model.User">
        select * from user where username = #{username}
    </select>


    <select id="selectRolesById" resultMap="roleMap">
        select
         b.id as id,
         b.name as name
         from user_roles a left join role b on a.role_id = b.id
        where a.user_id = #{id}
    </select>
</mapper>